<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.jwl.spring.test.ajax.dao.PensionDAO">
 	<select id="selectReserveList" resultType="com.jwl.spring.test.ajax.model.Pension">
 		SELECT
 			`id`
 			, `name`
 			, `headcount`
 			, `day`
 			, `date`
 			, `phoneNumber`
 			, `state`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`booking`
 	</select>
 	
 	<delete id="deleteReserveList" parameterType="int">
 		DELETE FROM
 			`booking`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>