<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwl.spring.test.mybatis.dao.RealestateDAO">
	<select id="selectRealestate" resultType="com.jwl.spring.test.mybatis.model.Realestate"
	parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</select>
	<select id="selectRealestateAsRent" resultType="com.jwl.spring.test.mybatis.model.Realestate"
	parameterType="int">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
		<![CDATA[
				`rentPrice` < #{rentPrice}
		]]>
	</select> 
	<select id="selectRealestateAsArea" resultType="com.jwl.spring.test.mybatis.model.Realestate"
	parameterType="map">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
		<![CDATA[
				`type` = '매매'
				AND `area` >= #{area}
				AND `price` <= #{price}
		]]>
		ORDER BY `id` DESC
	</select> 
	
	<insert id="insertRealestateByObject" parameterType="com.jwl.spring.test.mybatis.model.Realestate">
		INSERT INTO
			`real_estate`
		(	`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, now()
			, now()
		)
	</insert>
	
	<insert id="insertRealestateByField" parameterType="map">
		INSERT INTO
			`real_estate`
		(	`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, now()
			, now()
		)
	</insert>
	
	<update id="updateRealestate" parameterType="map">
		UPDATE
			`real_estate`
		SET
			`price` = #{price}
			, `type` = #{type}
			, `updatedAt` = now()
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteRealestate" parameterType="int">
		DELETE FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</delete>
</mapper>