#wrap{
    width: 1200px;
    margin: auto;
}

header{
    height:100px;
}

.main-menu{
    height:40px;
    background-color: peru;
}

.reserve-info{
    height:300px;
    background-color: sienna;
}

.reserve-check{
    height:300px;
    background-color: chocolate;
}

.reserve-number{
    height:300px;
    background-color: sienna;
}
footer{
    height:70px;
}